/* ------
Colour Variables
-------*/

$white-1: hsl(208, 27%, 90%);
$white-2: hsl(208, 27%, 80%);
$white-3: hsl(208, 27%, 70%);
$white-4: hsl(208, 27%, 60%);

$black-1:hsl(208, 27%, 10%);
$black-2:hsl(208, 27%, 15%);
$black-3:rgb(37, 52, 65);
$black-4:hsl(208, 27%, 30%);

$accent: gold;
$valid: mediumspringgreen;
$invalid: tomato;

/* ------
Number Variables
-------*/

$border-width: 1px;
$border-radius: 50px;
$transition-time: .5s;