@font-face {
    font-family: 'icomoon';
    src:  url('/assets/fonts/icomoon.eot?s1ttcs');
    src:  url('/assets/fonts/icomoon.eot?s1ttcs#iefix') format('embedded-opentype'),
      url('/assets/fonts/icomoon.ttf?s1ttcs') format('truetype'),
      url('/assets/fonts/icomoon.woff?s1ttcs') format('woff'),
      url('/assets/fonts/icomoon.svg?s1ttcs#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-drag_indicator:before {
    content: "\e902";
  }
  .icon-arrow_right:before {
    content: "\e907";
  }
  .icon-times:before {
    content: "\e903";
  }
  .icon-tick:before {
    content: "\e904";
  }
  .icon-document-delete:before {
    content: "\e905";
  }
  .icon-document-add:before {
    content: "\e906";
  }
  .icon-sun:before {
    content: "\e900";
  }
  .icon-moon:before {
    content: "\e901";
  }
  .icon-eyedropper:before {
    content: "\e90a";
  }
  



  @font-face {
    font-family: 'ClashDisplay-Variable';
    src: url('/assets/fonts/ClashDisplay-Variable.woff2') format('woff2'),
         url('/assets/fonts/ClashDisplay-Variable.woff') format('woff'),
         url('/assets/fonts/ClashDisplay-Variable.ttf') format('truetype');
         font-weight: 200 700;
         font-display: swap;
         font-style: normal;
  }
  
  


  @font-face {
    font-family: 'Sentient-Variable';
    src: url('/assets/fonts/Sentient-Variable.woff2') format('woff2'),
         url('/assets/fonts/Sentient-Variable.woff') format('woff'),
         url('/assets/fonts/Sentient-Variable.ttf') format('truetype');
         font-weight: 200 700;
         font-display: swap;
         font-style: normal;
  }
  


  html,body,h1,h2,h3,h4{
    font-family: 'ClashDisplay-Variable'!important;
  }

  h1,h2,h3,h4{
    font-weight: 700;
    text-transform: uppercase;
  }


  p, .custom-tooltip.tooltip, pre,legend{
    font-family: 'Sentient-Variable';
    font-weight: 400;
  }

  .custom-tooltip.tooltip, pre{
    font-weight: 700;
  }


  pre{
    white-space: pre-wrap!important;
    overflow:hidden;
    letter-spacing: 1px;
  }

  legend{
    font-size: 1rem;
  }