/* ------
CHECKBOX color mode
-------*/

#my_switch[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
 .my_switch_label {
    cursor: pointer;
    width: 90px;
    height: 38px;
    display: block;
    border-radius: $border-radius;
    position: relative;
    transition: all $transition-time;
  }
  
  .my_switch_label:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 5px;
    width: 28px;
    height: 28px;
    border-radius: 90px;
    transition: all $transition-time;
  }
  
  
  #my_switch:checked + .my_switch_label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
  
  #my_switch:active:after {
    width: 130px;
  }

  .icon-moon, .icon-sun{
    color: $accent;
    z-index: 20;
  }

  .icon-moon{
    font-size: 30px;
    position: absolute;
    left: 4px;
    top:3px;
  }
  .icon-sun{
    position: absolute;
    right: 5.7px;
    font-size: 26px;
    top:4.5px;
  }

  .fs1 .switch-text {
    display: none;
  }